# Missing Data

Let's show a few convenient methods to deal with Missing Data in pandas:

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(data={'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [3]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [4]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [5]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [6]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [7]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [8]:
print(df.dropna(thresh=1))
print("=========================")
print(df.dropna(thresh=2))
print("=========================")
print(df.dropna(thresh=3))

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3
=========================
     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
=========================
     A    B  C
0  1.0  5.0  1

In [10]:
df.fillna(value=0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [11]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [12]:
df['A'].mean()

1.5

In [13]:
df['A'] = df['A'].fillna(value = df['A'].mean())

In [14]:
df['A']

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [15]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  1.5  NaN  3

# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [16]:
import pandas as pd
# Create dataframe
data = {'Company':['A','A','B','B','C','C'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [17]:
df = pd.DataFrame(data)

In [18]:
df

  Company   Person  Sales
0       A      Sam    200
1       A  Charlie    120
2       B      Amy    340
3       B  Vanessa    124
4       C     Carl    243
5       C    Sarah    350

In [19]:
df.groupby("Company").count()

         Person  Sales
Company
A             2      2
B             2      2
C             2      2

In [20]:
df.groupby('Company').mean()

         Sales
Company
A        160.0
B        232.0
C        296.5