# Operations

There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [1]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})

In [2]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [3]:
df.head(2)

   col1  col2 col3
0     1   444  abc
1     2   555  def

### Info on Unique Values

In [4]:
df['col2'].unique()

array([444, 555, 666])

In [5]:
df['col2'].nunique()

3

In [6]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [7]:
#Select from DataFrame using criteria from multiple columns
df[(df['col1']>2) & (df['col2']==444)]

   col1  col2 col3
3     4   444  xyz

In [10]:
#Select from DataFrame using criteria from multiple columns
df[(df['col1']>2) | (df['col2']==444)]

   col1  col2 col3
0     1   444  abc
2     3   666  ghi
3     4   444  xyz

### Applying Functions

In [11]:
def times2(x):
    return x*2

In [12]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [13]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [14]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

** Permanently Removing a Column**

In [15]:
del df['col1']

In [16]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

** Get column and index names: **

In [17]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [18]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [19]:
df.sort_values(by='col2',ascending=False,inplace=True) #inplace=False by default

In [20]:
df

   col2 col3
2   666  ghi
1   555  def
0   444  abc
3   444  xyz

** Find Null Values or Check for Null Values**

In [21]:
df1 = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,np.nan],'col3':['abc','def','ghi','xyz']})

In [22]:
df1

   col1   col2 col3
0     1  444.0  abc
1     2  555.0  def
2     3  666.0  ghi
3     4    NaN  xyz

In [23]:
df1.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False   True  False